.wp-block-b-blocks-animated-gradient-cards {
  //   .components-button.has-icon {
  //     margin-top: -33px;
  //   }
  .oneCardEditorButton {
    display: flex;
    align-items: center;
  }
 a{
   
    box-shadow: none !important;
 }
  
}
